.backdrop {
    background: rgba(0, 0, 0, 0.121);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.addCard {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    gap: 2rem;
    width: 50%;
    padding: 2rem;
    background: white;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 2rem;
}

.inputGroup {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;

    input {
        width: 100%;
        margin-top: 0.25rem;
    }

    margin-bottom: 2rem;
}

textarea {
    width: 100%;
    margin-top: 0.25rem;
    resize: none;
    height: 5rem;
}

.errorMessage {
    color: red;
    font-weight:lighter;
    text-align: start;
}