@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    border-radius: var(--border-radius);
    border: 1px solid transparent;
    font-size: 1em;
    background-color: #d8e2dd;
    cursor: pointer;
    transition: border-color 0.25s;
    padding: 0.5rem;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

input {
    border: 1px solid black;
    border-radius: var(--border-radius);
    padding: 0.5rem;

}

textarea {
    padding: 0.5rem;
    border-radius: var(--border-radius);
    font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}