.compact {
    width: 25rem;
    height: 10rem;
    padding: 1rem;
    border: 2px solid var(--secondary-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
    
    &:hover {
        cursor: pointer;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .desc {
        font-size: small;
        color: gray;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tags {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;

        p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}