
.area {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

.grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: auto auto auto;
}