
.auth {
    width: 30rem;
    height: 35rem;
    margin: auto;
    margin-top: 15vh;
    padding: 2rem;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    background-color: white;
}

form {
    height: 100%;
    
    width: 100%;
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}


.inputError {
    border: 2px solid red;
}

.errorMessage {
    color: red;
    font-weight:lighter;
    text-align: start;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem auto;

    label {
    text-align: start;
    margin-bottom: 0.5rem;
    }

    input {
        width: 100%;
        height: 2.25rem;
        align-self: center;
    }
}