.auth {
    width: 30rem;
    height: 30rem;
    margin: auto;
    border: 1px solid var(--secondary-color);

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        input {
            width: 60%;
            height: 2rem;
            padding: 0.5rem;
        }
    }
}